/* Responsive design styles */

@media only screen and (min-width: 1100px) and (max-width: 1108px) {
   .wrapper {
      width: 90%;
   }

   #social {
      position: absolute;
      width: auto;
      margin-top: 82px;
      margin-right: 4px;
   }

}

@media only screen and (min-width: 900px) {
   body {
      font-size: 85%;
   }

   #logo h1 {
      height: 35px;
      width: 35px;
   }

   #logo h2 {
      font-size: 2.2em;
   }

   #social {
      top: 72px;
   }


   .col-3 p {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
   }
}

@media only screen and (max-width: 750px) {
   #navbar nav a {
      font-size: 0.9em;
   }

   .col-3 p {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
   }

   .col-1 {
      width: 100%;
      margin-left: 0;
      float: none;
   }

   .border-right {
      border: 0;
   }

   #details div {
      height: auto;
   }
}







