@media only screen and (max-width: 1108px) {
    .wrapper {
      width: 90%;
    }
    #social {
        position: absolute;
        width: 0 auto;
        top: 82px;
        right: 4px;
    }
  }

  @media only screen and (max-width: 900px) {
    body {
        font-size: 85%;
    }  
    #logo h1{
        height: 35px;
        width: 35px;
    }
    #logo h2{
        font-size: 2.2em;
    }
    #social {
        top: 72px;   
    }
  }
  
  @media only screen and (max-width: 750px) {
      #navbar{
          font-size: 0.9em;
      }
      .col-1, .col-2, .col-3 {
          width: 100%;
          float: none;
          margin-left: 0;
      }

      .border-right {
            border: 0;
      }
      
      #details {
          height: auto;
      }
    }