
{@media (min-width:1108px) .wrapper {width: 905;}}
<style type="text/css">
#social {
	position: absolute;
	width: auto;
	top: 82px;
	right: 4px;
}


@media (min-width:900px) {body {text: 85%;}}
#logo h1 {
  height:35px;
  width:35px;
}

#logo h2 {
  font-size: 2.2em;
}

#social {
  top: 72px;
}



@media (min-width:750px)
#navbar {
  font-size: 0.9em;
}
