@media only screen and (max-width: 1100px) {
  .wrapper { width: 90%;}
  #social {
    position: absolute;
    width: auto;
    top: 82px;
    right: 4px;
  }
}

@media only screen and (max-width: 900px) {
  body {font-size: 85%;}
  #logo h1 {height: 35px; width: 35px;}
  #logo h2 {font-size: 2.2em;}
  #social {top: 72px;}
  .col-3 p {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (max-width: 750px) {
  #navbar nav a {font-size: 0.9em;}
  .col-3 p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  
  [class*='col-']{
    width: 100%;
    margin-left: 0;
    float: none;
  }
  .border-right {border: 0;}
  #details div{height: auto;}
}

@media only screen and (max-width: 700px) {
  #navbar nav a {display: none;}
  #logo h2 {display: none;}
  #navbar nav a.menu-icon {
    display: block;
    float: left;
    width: auto;
  }
  
  #logo {
    padding: 60px 0 0;
  }
  #social {
    top: 60px;
  }
}

/*.col-3 p {*/
/*  -moz-column-rule: 1px dotted #ccc;*/
/*  -webkit-column-rule: 1px dotted #ccc;*/
/*  column-rule: 1px dotted #ccc;*/
/*  -moz-column-gap: 1.5em;*/
/*  -webkit-column-gap: 1.5em;*/
/*  column-gap: 1.5em;*/
/*  -moz-column-count: 3;*/
/*  -webkit-column-count: 3;*/
/*  column-count: 3;*/
/*}*/

/*body { font-size: 100%; }*/
/*h1 { font-size: 2.5em; }*/
/*p { font-size: 1em; }*/
 
/*@media only screen and (max-width: 400px) {*/
/*  body { font-size: 130%; }  */
/*}*/